#FACEBOOK ADS API
ACCOUNT_ID="act_2080644665388982"
ACCESS_TOKEN="EAAqOARoEZBxMBOzMylZB1sP2giptCAQ4wb27UaCzgUZB9ZC3mKqXHvq9mG66YqEVhwPSbzBA3SXAMJRedPVV4ANbPotoBRCF9r1ouDSbrKfirLZCZBAs4dAhK0wwoSgndPKYSZC6ZAQRBsn13dj5YatLMhLv5yf1H5yCNw308ZCsQNUaw8ieACRWBwiLOejGbNotRVGIe3AVW"
APP_ID="695162199947389"
APP_SECRET="48d7f961cd5af11ec3c2373ff9b7e083"
ACCESS_TOKEN_VALIDITY="09/09/2025"

# Google parameters
DEVELOPER_TOKEN="vkyQcgy9Xt3AsXHwftkOqQ"
CLIENT_ID="1042064183341-nlrt28cu7lmoprdo74a4tvpt3v63hs33.apps.googleusercontent.com"
CLIENT_SECRET=
CUSTOMER_ID="4312252497"
LOGIN_CUSTOMER_ID="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"
REFRESH_TOKEN="TESTE-REFRESH-TOKEN-1042064183341-nlrt28cu7lmoprdo74a4tvpt3v63hs33.apps.googleusercontent.com"
ACCESS_TOKEN_GOOGLE="TESTE-ACCESS-TOKEN-1042064183341-nlrt28cu7lmoprdo74a4tvpt3v63hs33.apps.googleusercontent.com"